/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  font-family: "Hind Vadodara", sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

h1{
}

.letters{
  display: flex;
  gap: 5px;
}

.letter{
  min-width: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 1px;
  background: rgb(37, 88, 255);
  color: #FFF;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.692);
  cursor: pointer;
}

.letter:hover{
  box-shadow: 0 0 10px rgba(37, 88, 255, 0.87);
  outline: 1.5px solid #FFF;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
